:root {
--font-family: "Poppins", sans-serif;
--main--text--color: rgba(255, 255, 255, 0.55);
--main--bg-color:#1E252B;
--main--li--p--color:color: rgba(255, 165, 55, 0.55);
--third-family: "Roboto", sans-serif;
--main--text--color: rgba(255, 255, 255, 0.55);
}
/* 
element in list that have the same values. 
General classes will be created here to make my work easier
  */
body {
  font-family: var(--font-family);
  color: white;
  background-color: var(--main--bg-color);
}
h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.78);
}
.li-list-newcomer-tools {
  width: 288px;
  height: 284px;
  border-radius: 15px;
}
.p-list-element {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 165, 55, 0.55);
}
.p-list-discription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: var(--main--text--color);
}
.a-list-elemets-btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
}
.container {
  width: 1254px;
  padding: 0 15px;
  outline: 2px dashed red;
  margin: 0 auto;
}
/*header*/
.header {
  padding-top: 24px;
  padding-bottom: 58px;
}
.header-nav {
  display: flex;
  align-items: flex-end;
} 
.logo-img {
  margin-right: 20px;
}
.header-list {
  margin-left: 256px;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  color: var(--main--text--color);
  gap: 45px;  /* I don`t know for sure, the header doesn`t indicate gaps  */
}
.header-list-signin {
  padding-left: 192px;
  display: flex; 
  color: rgba(255, 255, 255, 0.78);
  font-weight: 600;
  font-size: 16px;  
  gap: 68px;
}
/* hero section */
.hero-section {
  padding-top: 46px;
  margin-bottom: 181px;
}
.hero-lsit-wrapper {
  display: flex;
  justify-content: space-between;
}
h1 { 
  margin-bottom: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
}
.main-paragraph {
  margin-bottom: 60px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: var(--main--text--color);
}
form {
  padding: 8px 12px 8px 16px;
  margin-bottom: 110px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #283036;
  max-width: 497px;
}
/* .search-loop {

} */
.hero-input {
  padding-bottom: 12px;
  padding-top: 12px;
  border-radius: 15px;
  border: none;

  background-color: #283036;
}
::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38); 
}
.hero-button {
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  border-radius: 8px;
  border: none;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #ff6e30;
}
.hero-list-images {
  display: flex;
  gap: 8px;
}
.hero-list-images-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
}

/* popular tools section */
.popular-tools {
  margin-bottom: 200px;
}
.popular-tools-title {
  margin-bottom: 25px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.tools-paragraph {
  margin-bottom: 90px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color:var(--main--text--color);
}
.like-and-folder-part {
  display: flex;
  align-items: center;
}
.tools-section-btn-folder {
  background-color: var(--main--bg-color);
  border: none;
}
.tools-section-btn-like {
  background-color: var(--main--bg-color);
  border: none;
}
.second-list-section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 100px;
    margin-bottom: 100px;
}
.second-section-list-item 
{
    width: calc((100% - 48px) / 3);
    padding: 32px;
}
/* hovers */

/* hovers end */
.second-section-btn {
  margin: 0 auto;
  display: block;
  padding: 17px 38px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #ff6e30;
}
.p-list-discription {
  margin-bottom: 30px;
}
.tools-section-btn-like {
  margin-right: 20px;
}
.visit-list-link {
  margin-left: 124px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: var(--main--text--color);
}
.div-image{
  margin-bottom: 30px;
  display: flex;
}
.div-wrapper {
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
/* section tools */
.second-section-btn {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #ff6e30;
  background: #1e252b;
}
/* section about */
.section-about {
  margin-bottom: 200px;
}
.container-about-styles {
  padding: 56px 82px;
  border-radius: 25px;
  justify-content: center;
  gap: 107px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(44, 53, 61, 0.2),
    rgba(44, 53, 61, 0.2)
  ), radial-gradient(circle at top left, rgba(255, 72, 66, 0.4) 1%, transparent 9%);
}
.section-about-list {
  display: flex;
  justify-content: space-between;
}
.section-about-title {
  margin-bottom: 55px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}

/* section newcomer tools */
.section-tools {
  margin-bottom: 189px;
}
.last-input {
  padding-bottom: 21px;
  padding-top: 21px;
  padding-left: 13px;
  border-radius: 15px;
  border: none;
  background-color: #283036;
}
::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38); 
}
.last-section-btn  {
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  border-radius: 8px;
  border: none;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #ff6e30;
}
.section-newcomer-title {
  margin-bottom: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
}
.newcomer-title {
  margin-bottom: 60px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: var(--main--text--color);
}
.section-tools-btn {
  border-radius: 8px;
  border: none;
  padding: 16px 40px;
  background: #ff6e30;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.special-container {
  width: 600px;
}
.section-tools-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  column-gap: 50px;
}
.section-tools-list-item {
  width: calc((100% - 50px) / 2);
}
.ul-tools-wrapper {
  display: flex;
  justify-content: space-between;
}
/* Ronald Richers */
.man_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.section_with_men-button-list {
  display: flex;
  gap: 18px;
  justify-content: center;
}
.section_with_men-wraper {
  display: flex;
}
.section_with_men-img {
  margin-right: 56px;
}
.section-ronald-richers-btn {
  background-color: transparent;
  border: none;
}
.slider-color-orange  {
  background-color: #ff6e30;;
  border-radius: 4px;
  width: 44px;
  height: 6px;
}
.slider-color-gray {
  background-color: #283036;;
  border-radius: 4px;
  width: 44px;
  height: 6px;
}
.section_with_men{
  margin-bottom: 219px;
}
.section_with_men-button-list{
  gap: 18px;
} 
.section_with_men-description {
  margin-top: 127px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.78);
 }
.ronald-richers-btn-wrapper {
  display: flex;
  align-self: center;
}
.ronald-richers-second-button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* section become a contributor */
.last-section {
  margin-bottom: 261px;
}
.last-section-title {
  margin-bottom: 25px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9); 
  text-align: center;
}
.last-section-form {
  padding: 12px 12px 8px 16px;
  margin-bottom: 110px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #283036;
  width: 549px;
}
.last-section-paragraph {
  margin-bottom: 100px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: rgba(255, 255, 255, 0.55);  
  text-align: center;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}
.last-section-btn {
  border-radius: 8px;
  background: #ff6e30;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

/* footer */
.footer {
  border: 0.50px solid rgba(255, 255, 255, 0.15);
}
.footer-logo-paragraph {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
}
.a-footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 12px;
}
.address-title {
  margin-bottom: 21px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}
.footer-paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  color: rgba(255, 255, 255, 0.55);
}
.footer-h3-titles {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);  
}
.text-styles-footer {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
}
.footer-wrapper {
  padding-top: 70px;
}
.footer-list {
  display: flex;
  gap: 115px;
  justify-content: center;
  margin-right: 233px;
}
.footer-lists-block {
  display: flex;
  align-items: center;
}
.footer-contain-list,
.footer-second-list,
.footer-third-list {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}





