:root {
--font-family: "Poppins", sans-serif;
--main--text--color: rgba(255, 255, 255, 0.55);
--main--bg-color:#1E252B;
--main--li--p--color:color: rgba(255, 165, 55, 0.55);
--third-family: "Roboto", sans-serif;
}
body {
  font-family: var(--font-family);
}
